<div id="main" role="main">
	<p class="title">CRA</p>
	<span class="label-mail">Envoyer à : </span><input type="text" name="sendto" id="sendto" class="input-mail" value="vdelaval@visiware.com;"><br>
	<span class="label-mail">Cc : </span><input type="text" name="withcc" id="withcc" class="input-mail"><br>
	<span class="mail">jbeaussier@visiware.com</span><span class="mail">gblondel@visiware.com</span><span class="mail">mcrusson@visiware.com</span><span class="mail clear">Clear</span>
	<div id="task-list">
	</div>
	<div class="project-container">
		<span class="project-button espn">ESPN</span>
		<span class="project-button equidia">Equidia</span>
		<span class="project-button m6">M6</span>
		<span class="project-button nfl">NFL</span>
		<span class="project-button divers">Divers</span>
		<span class="project-button alertes">Alertes / Remarques</span>
		<span class="project-button clear">Clear</span>
	</div>
	<div class="button-container">
		<br>
		<p class="validate">Valider</p>
		<br>
		<a class="send">Envoyer</a>
	</div>		
</div>